{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/misestilos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <title>GrupoCero</title>
    <script src="{% static 'js/feriados.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}">
</head>
<body>

    <br>
    <br>
    <br>
    <div class="container">
        <h1>Feriados del 2023 en Chile</h1><br>
        <h3>No atendemos los días feriados! así que informate con esta lista de feriados que implementamos en nuestra página web.</h3>
        <br>
        <button onclick="MostrarFecha()" value="La fecha es?">Mostrar Fecha de hoy</button>
        <p id="demo"></p>
        <br>

        <button id="enviar">Consultar Feriados</button><br><br>

        <!--crearemos una tabla para mostrar los datos de la Api-->

        <table class="table" id="categorias">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Irrenunciable (1=Si,2=No)</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <div class="social-icons-container">
            <img src="{% static 'img/facebook.png' %}" class="social-icon" href="">
            <img src="{% static 'img/instagram.png' %}" class="social-icon" href="">
            <img src="{% static 'img/twitter.png' %}" class="social-icon" href="">
        </div>
        <ul>
            <li class="footer-menu-item">Legal</li>
            <li class="footer-menu-item">Cookies</li>
            <li class="footer-menu-item">Privacy</li>
        </ul>
        <span class="copyright">&copy;2023, GrupoCero, Todos los derechos reservados a Gustavo Hermosilla</span>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
{% endblock %}